.header {
	height: 138px;
}
.sp-list {
	max-height: none;
}
.flow {
	margin:12px;
}
input, label{
	display: block;
}
a {
	color: #FFFFFF;
}
.entry {
	box-sizing: border-box;
	padding: 0px;
	padding-top: 12px;
}
.entry:nth-child(2n) {
	
}
body {
	min-height: 100%;
}
.sp-list > div {
		background-color: #373737;
		background-image: -webkit-linear-gradient(#313131 50%, #313131,  #373737 50%, #373737);
		background-size: 40px 40px;
		border-spacing: initial;
		color: #DDD;
		display: table;
		font-size: 11px;
		left: 0;
		line-height: 20px;
		position: relative;
		right: 0;
		table-layout: fixed;
		top: 0;
		width: 100%;
}
.by, .by a {
	color: #888888;
}
td {
	padding: 12px;
	padding-right: 0px;
}
header td, h3 {
	padding-right: 12px;
	box-sizing: border-box;
}
img {
	border: none !important;
}
.sp-image {
	background: #222222;
	border: none;
	-webkit-user-drag: none;
	box-shadow: 0px 0px 6px #222222;
	border-radius: 3px;
}
.flow li {
	float: left;
	margin-right:12px;
	margin-left:12px;
	margin-bottom: 20px;
}
section {
	display: none;
}
hr {
	border: none;
	/*border-top: 1px solid #111111;
	border-bottom: 1px solid #555555;
	margin-top:12px;*/
}
divider h2 {
	top: 0px;
	height: 30px;
	position: relative;
	background-image: -webkit-linear-gradient(#5B5B5B,
		#4B4B4B);
	border-bottom: 1px solid #292929;
	border-top: 1px solid #686868;
	color: #D7D7D7;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	padding: 3px 15px 4px;
	text-shadow: 0 -1px 0 #404040;
	height: 16px;

}
